h2 { 
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
} 
body {
   text-align: center;
    min-height: 100vh;
    border: 10px;
    margin: 0;
    padding: 0 20px 20px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
}
.top {
  color: #4a82c2;
  position: relative;
  padding-top: 100px;
}
p { 
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF; 
}
a {
  color: #fac2ff;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  font-size: 30px;
  text-decoration: none;
}
a:hover{
  color: #eb98e8
}
.photo {
  display: block;
  margin: 0;
  width: 300px;
  height: 300px;
}
.copyright{
  color: #4a82c2;
  font-size: 0.75rem;
  padding: 20px 0;
}
