section {
  height: 100vh;
}
h2 {
  text-align: center;
  font-size: 3rem;
  font-family: 'Caveat', sans-serif;
  color: #FFFFFF; 
}
h3 {
  text-align: center;
  font-size: 40;
  font-family: 'Montserrat', sans-serif;
  color: #5da2e3;
  padding-bottom: 40px;
}
h4 { 
  text-align: center;
  font-size: 40;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
} 
body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
}
hr{
  border-style: groove;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  border-color: grey;
  width: 10%;
}
.top {
  background-color: #4a82c2;
  position: relative;
  padding-bottom: 60px;
}
.footer-link {
  color: #fcfeff;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  font-size: 16px;
  text-decoration: none;
}
.footer-link:hover {
  color: #5da2e3;
}
.upper-link {
  color: #3577b5;
}
.upper-link:hover {
  color: #5da2e3;
}
.photo {
  margin: 0;
  width: 300px;
  height: 300px;
}
.desktop {
    display: inline;
    margin: 0;
    left: 0px;
    height: 100vh;
    width: 100%;
}
.desktop img {
    max-height: 720px;
    object-fit: cover;
}
.mountain {
    display: inline;
    margin: 0;
    right: 0px;
    height: 100vh;
    width: 100%;
}
.mountain img {
    max-height: 720px;
    object-fit: cover;
}
.skills {
  margin: 100px auto 50px auto;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 50%;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #3577b5;
}
.resume {
  margin: 50px auto 50px auto;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 50%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #3577b5;
}
.bottom-container {
  background-color: #4a82c2;
  margin-bottom: 0;
  padding-top: 100px;
  padding-bottom: 20px;
}
.copyright{
  background-color: #4a82c2;
  font-size: 0.75rem;
  padding: 20px 0;
}
.my-menu-button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1;
  width: 80px;
  hight: 80px;
  border-radius: 50%;
  background-color: #d4ddff;
}
