html {
  background-color: #34587D;
}
body {
    margin: 0;
    width: 600px;
  
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 15;
    color: #FFFFFF;
}
img {
  display: block;
  margin: 0 auto;
}
h1 { 
  color: #FFFFFF; 
} 
p { 
  color: #FFFFFF; 
}
